################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MunicipalServicesApp/MunicipalServicesApp/App.config
.vs/
